body {
    background-image: linear-gradient(#ccc, #777);
    min-height: 100vh;
    margin: 0 auto;
}

nav {
    min-width: 100vw;
    background-color: black;
    height: 50px;
    text-align: center;
    color: #fff;
}

nav ul{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
nav ul li {
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: #fff;
    padding: 16px;
    font-size: large;
}

nav ul a:hover{
    color: #e1980c;
}

section {
    margin: 10px;
    text-align: center;   
}